// Place all the styles related to the Houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ng-enter, .ng-move{
  -webkit-animation: rubberBand 1s;
  -moz-animation: rubberBand 1s;
  -o-animation: rubberBand 1s;
  animation: rubberBand 1s;
}

.ng-leave{
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  animation: fadeOut 1s;
}